/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #aea9cc	;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    padding: 0;
}

/* Style the links inside the navigation bar */
.navbar button {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
}


.navbar button:hover {
  background-color: #515076;
    color: white;
    
}

.active {
  background-color: #515076;
    color: white;
}

.navcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.navlinks {
    width: 25%;
    float: left;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

.favorited {
    color: lightcoral;
}

.error-message {
    padding: 1rem;
    background-color: lightgray;
}

#content {
    margin-bottom: 5rem;
    padding: 2rem;
}

.btn-primary {
    background-color: #515076;
    border-color: #515076;
}

hr {
    border-top: 1px solid rgba(57,53,79,1);
    border-width: medium;
    margin: 1.5rem 0 1.5rem 0;
}

.top-style {
    padding: 2rem;
    background-color: #515076;
}

.top-message {
    color: white;
}

.input-group {
    margin-bottom: 1.5rem;
}